body,html{
    margin: 0;
    padding: 0;
    background-color: #dcdde0;
}



.navbar{
    background-color: #3483eb;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    display: flex;
}

.sidebar{
    width:280px;
    height:-webkit-fill-available;
    background-color: white;
    margin-left: 20px;
    overflow: hidden;
    font-family: 'Hepta Slab', serif;
}


.container{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-bottom: 20px;
}

.text{
    margin-top: 7px;
    margin-left: 9px;
    color:white;
    font-family: 'Lobster', cursive;
    font-size: 40px;
]
}

.home-logo{
    margin-top: 5px;
    margin-left: 4px;
}
.content{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    width: -webkit-fill-available;
    height: 640px;
    overflow-y: auto;
}

.content::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.info{
    background-color: white;
    margin-top: 20px;
}

<<<<<<< HEAD
=======
.sort{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-evenly;
}

.filter{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
}

.budget input{
    width: 80px;
}

.filter button{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}
>>>>>>> 5112d3e74d8c81192bb49d2760061e0478195cea
